# Constructive heuristics comparison

The objective of the $\alpha$-neighbor $p$-center problem can be thought of as distributing the facilities among the clients to cover them efficiently, which is the actual goal of the $p$-center problem, so a constructive heuristic that uses its objective function will be tested and compared against a greedy heuristic that takes into account the objective function of this problem.

The following random generated instances will be used:

In [1]:
from copy import deepcopy

from models import Instance

sizes = (
    (25, 5),
    (50, 7),
    (100, 10),
    (200, 15),
    (300, 20),
    (500, 25)
)
alpha2 = [
    Instance.random(n, p, 2)
    for n, p in sizes
]
alpha3 = deepcopy(alpha2)
for i in alpha3:
    i.alpha = 3

In [2]:
import timeit

import pandas as pd

from heuristics.constructive import pdp_based, greedy
from utils import eval_obj_func

def measure(instance, heuristic):
    start = timeit.default_timer()
    solution = heuristic(instance)
    time = timeit.default_timer() - start
    of = eval_obj_func(instance, solution)
    return heuristic.__name__, solution, of, time

def get_dataframe(data):
    return pd.DataFrame({
        colname: [d[i] for d in data]
        for colname, i in zip(colnames, range(len(data[0])))
    })

## Comparing data

In [3]:
pdp_data = [(*i.get_parameters(), *measure(i, pdp_based))  for i in alpha2 + alpha3]
anpcp_data = [(*i.get_parameters(), *measure(i, greedy))  for i in alpha2 + alpha3]

colnames = ('n', 'p', 'a', 'heuristic', 'solution', 'OF', 'time (s)')
dataframe = get_dataframe(pdp_data + anpcp_data)
dataframe

,n,p,a,heuristic,solution,OF,time (s)
0,25,5,2,pdp_based,"{0, 6, 24, 8, 11}",6821,0.023794
1,50,7,2,pdp_based,"{18, 45, 20, 6, 29, 30, 31}",4863,0.002576
2,100,10,2,pdp_based,"{66, 67, 4, 41, 75, 45, 47, 20, 53, 27}",4522,0.011413
3,200,15,2,pdp_based,"{98, 132, 37, 38, 39, 40, 77, 141, 173, 49, 18...",3483,0.039554
4,300,20,2,pdp_based,"{136, 201, 202, 12, 205, 142, 204, 275, 92, 28...",3083,0.043458
5,500,25,2,pdp_based,"{257, 3, 200, 11, 268, 269, 143, 400, 20, 151,...",2688,0.110575
6,25,5,3,pdp_based,"{0, 6, 24, 8, 11}",8692,0.000249
7,50,7,3,pdp_based,"{18, 45, 20, 6, 29, 30, 31}",6967,0.000750
8,100,10,3,pdp_based,"{66, 67, 4, 41, 75, 45, 47, 20, 53, 27}",4926,0.002987
9,200,15,3,pdp_based,"{98, 132, 37, 38, 39, 40, 77, 141, 173, 49, 18...",3865,0.013486
10,300,20,3,pdp_based,"{136, 201, 202, 12, 205, 142, 204, 275, 92, 28...",4356,0.036688
11,500,25,3,pdp_based,"{257, 3, 200, 11, 268, 269, 143, 400, 20, 151,...",3602,0.104327
12,25,5,2,greedy,"{0, 3, 4, 7, 24}",5582,0.003237
13,50,7,2,greedy,"{19, 20, 7, 10, 29, 30, 15}",5142,0.030256
14,100,10,2,greedy,"{1, 66, 2, 4, 67, 8, 41, 88, 26, 31}",4300,0.229554
15,200,15,2,greedy,"{1, 2, 3, 36, 37, 38, 39, 6, 46, 179, 20, 23, ...",3377,3.090823
16,300,20,2,greedy,"{1, 2, 3, 4, 6, 8, 201, 202, 9, 11, 12, 72, 14...",2839,14.140715
17,500,25,2,greedy,"{1, 2, 3, 4, 5, 6, 68, 8, 9, 11, 269, 13, 15, ...",2726,103.934253
18,25,5,3,greedy,"{0, 17, 3, 6, 24}",8692,0.003158
19,50,7,3,greedy,"{2, 3, 20, 40, 10, 29, 30}",6503,0.032105
20,100,10,3,greedy,"{1, 66, 2, 4, 5, 6, 3, 41, 9, 20}",5269,0.341328
21,200,15,3,greedy,"{1, 66, 2, 3, 37, 38, 39, 6, 11, 46, 15, 17, 1...",4010,4.535924
22,300,20,3,greedy,"{1, 2, 3, 132, 4, 5, 7, 8, 201, 202, 6, 9, 270...",4293,16.946591
23,500,25,3,greedy,"{1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 269, 270, 13...",3354,99.847498

Let's get some statistics when $\alpha = 2$

In [17]:
df_a2 = dataframe[dataframe['a'] == 2]
df_a2_pdp = df_a2[df_a2['heuristic'] == 'pdp_based']

In [24]:
stats_a2_pdp = df_a2_pdp[['OF', 'time (s)']].describe()
print('PDP based heuristic')
stats_a2_pdp

PDP based heuristic

                OF  time (s)
count     6.000000  6.000000
mean   4243.333333  0.038562
std    1513.244814  0.038629
min    2688.000000  0.002576
25%    3183.000000  0.014508
50%    4002.500000  0.031674
75%    4777.750000  0.042482
max    6821.000000  0.110575

In [18]:
df_a2_greedy = df_a2[df_a2['heuristic'] == 'greedy']

In [25]:
stats_a2_greedy = df_a2_greedy[['OF', 'time (s)']].describe()
print('Greedy heuristic')
stats_a2_greedy

Greedy heuristic

                OF    time (s)
count     6.000000    6.000000
mean   3994.333333   20.238140
std    1204.642796   41.362790
min    2726.000000    0.003237
25%    2973.500000    0.080081
50%    3838.500000    1.660189
75%    4931.500000   11.378242
max    5582.000000  103.934253