In [1]:
from grasp_final import read_results

final = read_results()
final

                              OF       time  improvs
tsp    n   m   p   alpha
att48  32  16  10  2      2625.4   0.035270      1.0
                   3      3105.8   0.044130      1.0
ch150  100 50  10  2       223.8   1.211026      2.6
                   3       316.2   1.326836      2.2
               20  2       169.0   0.524537      1.8
...                          ...        ...      ...
rl1323 882 441 80  3      3324.4  20.546327      1.0
               90  2      3073.0  12.199262      1.0
                   3      3324.4  19.025501      1.0
               100 2      3073.0  11.966634      1.0
                   3      3324.4  18.830947      1.0

[116 rows x 3 columns]

In [2]:
final.groupby("tsp n m".split()).mean()

                         OF       time  improvs
tsp    n   m
att48  32  16   2865.600000   0.039700     1.00
ch150  100 50    206.000000   0.619695     1.55
eil101 68  33     26.966667   0.169464     1.30
pr1002 668 334  2609.810000  43.421941     2.09
pr439  293 146  3024.370000   4.097602     1.15
rat575 384 191    66.310000  11.457649     2.60
rat783 522 261    77.970000  22.002305     2.76
rl1323 882 441  3487.010000  56.403862     1.70

In [11]:
gb = final.groupby("tsp")
groups = [(g, gb.get_group(g)) for g in gb.groups]
for name, group in groups:
    format_latex_table(group, f"nb_results\\grasp\\final_{name}.tex")

c:\Users\netoo\local-personal\repos\alpha-neighbor-p-center-problem\anpcp\utils.py:104: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  dataframe.to_latex(path, float_format="%.2f", multirow=True)