In [10]:
from models.instance import Instance
from models.solver import generate_solvers

import os

def get_solvers(n: int, m: int, amount: int):
    datapath = os.path.abspath("..\\data")
    instances = [Instance.read_json(os.path.join(datapath, f"anpcp_{n}_{m}_{i}.json")) for i in range(amount)]
    return generate_solvers(instances, (0.1, 0.25, 0.5), (2, 3))

In [11]:
solvers50 = get_solvers(50, 50, 1)
solvers100 = get_solvers(100, 100, 2)

BETAS = (0, 0.25, 0.5, 0.75, 1, -1)

$\beta = -1$ means that $\beta$ is selected at random in each iteration.

In [12]:
from utils import compare_betas

import pandas as pd

def get_results(solvers):
    dirpath = ".\\nb_results\\grasp"
    filepath = os.path.join(dirpath, "betas.pkl")

    if os.path.exists(filepath):
        return pd.read_pickle(filepath)

    results = compare_betas(solvers, BETAS)
    results.to_pickle(filepath)
    return results

In [13]:
df = get_results(solvers50) # + solvers100
df

                         OF      time
beta  n  m  p  alpha
-1.00 50 50 5  2      476.0  1.115153
               3      626.0  3.032689
            12 2      310.0  1.422456
               3      359.0  1.699640
            25 2      246.0  0.330955
               3      292.0  0.466031
 0.00 50 50 5  2      519.0  1.358633
               3      626.0  2.727872
            12 2      288.0  1.836119
               3      438.0  1.114122
            25 2      246.0  0.215393
               3      292.0  0.366697
 0.25 50 50 5  2      519.0  1.109278
               3      626.0  3.451152
            12 2      277.0  1.590501
               3      438.0  1.302042
            25 2      246.0  0.205420
               3      292.0  0.328384
 0.50 50 50 5  2      519.0  1.126489
               3      626.0  3.164125
            12 2      277.0  1.280296
               3      414.0  1.557403
            25 2      246.0  0.262410
               3      292.0  0.410494
 0.75 50 50 5  2      519.0  1.309243
               3      626.0  2.924220
            12 2      277.0  1.536178
               3      341.0  1.648154
            25 2      246.0  0.445315
               3      292.0  0.629251
 1.00 50 50 5  2      519.0  1.282861
               3      626.0  3.074368
            12 2      277.0  1.633843
               3      414.0  1.821734
            25 2      246.0  0.731180
               3      292.0  0.833821

In [14]:
df.groupby("beta").mean()

               OF      time
beta
-1.00  384.833333  1.344487
 0.00  401.500000  1.269806
 0.25  399.666667  1.331130
 0.50  395.666667  1.300203
 0.75  383.500000  1.415393
 1.00  395.666667  1.562968