In [1]:
from grasp_final import read_results, get_filenames

names = get_filenames()
names

['pr439_293_146',
 'rat575_384_191',
 'rat783_522_261',
 'dsj1000_667_333',
 'rl1323_882_441',
 'rl1889_1260_629']

In [2]:
import pandas as pd

final = pd.concat(
    read_results(name) for name in names
)

In [3]:
df_groupby = final.groupby("instance i p alpha".split(), sort=False)
grouped = df_groupby.mean()
grouped

                            best_rgd  best_afvs       diff    min_imp  \
instance        i p  alpha
pr439_293_146   0 7  2        4621.0     3868.0  16.295174  10.081466
                     3        5930.0     5433.0   8.381113   0.000000
                  14 2        3222.0     2719.0  15.611421   0.000000
                     3        4090.0     3401.0  16.845966   5.427873
                  21 2        2620.0     2620.0   0.000000   0.000000
...                              ...        ...        ...        ...
rl1889_1260_629 9 31 3        3860.0     3174.0  17.772021   1.506907
                  62 2        2173.0     1797.0  17.303267  10.078233
                     3        2719.0     2211.0  18.683339   9.746230
                  94 2        1954.0     1414.0  27.635619  18.423746
                     3        2312.0     1763.0  23.745675   4.502272

                              max_imp    avg_imp         time  last_imp  \
instance        i p  alpha
pr439_293_146   0 7  2      47.296248  28.780483    38.422440       5.0
                     3      33.042945  19.035763    45.958580      13.0
                  14 2      38.595303  19.236891    15.144074       7.0
                     3      38.062284  16.983649    27.934234      45.0
                  21 2      40.468075  14.000691     7.545377       0.0
...                               ...        ...          ...       ...
rl1889_1260_629 9 31 3      43.026387  26.441340  1507.350098      88.0
                  62 2      36.440678  26.915884   929.923469      13.0
                     3      43.281329  27.055110  1144.245158      39.0
                  94 2      45.708885  34.151858  1689.414418     107.0
                     3      47.502166  28.868257  1805.006012     136.0

                            min_upc  max_upc    avg_upc
instance        i p  alpha
pr439_293_146   0 7  2         19.0     81.0  41.857143
                     3          6.0    102.0  41.857143
                  14 2          1.0     70.0  20.928571
                     3          1.0     74.0  20.928571
                  21 2          0.0     70.0  13.952381
...                             ...      ...        ...
rl1889_1260_629 9 31 3          9.0     88.0  40.645161
                  62 2          2.0     48.0  20.322581
                     3          3.0     45.0  20.322581
                  94 2          1.0     34.0  13.404255
                     3          0.0     36.0  13.404255

[360 rows x 11 columns]

In [8]:
grouped[
    # (grouped["diff"] == grouped["min_imp"])
    # &
    # (grouped["last_imp"] > 0)
    # &
    (grouped["time"] >= 1800)
]

                            best_rgd  best_afvs       diff    min_imp  \
instance        i p  alpha
rl1889_1260_629 0 94 3        2331.0     1759.0  24.538825  19.069069
                1 94 3        2366.0     1767.0  25.316991   9.471095
                2 94 2        1849.0     1396.0  24.499730  15.221774
                     3        2295.0     1758.0  23.398693   6.507996
                4 31 3        3664.0     3149.0  14.055677  11.136080
                  62 3        2708.0     2224.0  17.872969  10.764007
                5 62 2        2247.0     1783.0  20.649755  13.189655
                     3        2653.0     2168.0  18.281191   6.716954
                7 31 3        3848.0     3122.0  18.866944   8.175081
                8 62 2        2223.0     1780.0  19.928025  13.450292
                  94 3        2290.0     1763.0  23.013100  12.453943
                9 94 3        2312.0     1763.0  23.745675   4.502272

                              max_imp    avg_imp         time  last_imp  \
instance        i p  alpha
rl1889_1260_629 0 94 3      40.437521  29.328671  1807.713877     121.0
                1 94 3      37.465084  28.100353  1806.085815     144.0
                2 94 2      48.247199  34.642711  1801.079469     116.0
                     3      39.435248  28.259364  1804.433446      91.0
                4 31 3      42.596892  26.432619  1806.509458     240.0
                  62 3      47.523638  26.555604  1803.601841     126.0
                5 62 2      37.991117  26.465629  1810.339081     130.0
                     3      38.500806  25.504805  1800.329991     111.0
                7 31 3      43.777477  26.758536  1806.002931     209.0
                8 62 2      44.078745  27.619608  1808.269126     159.0
                  94 3      49.715524  29.236685  1810.687536     105.0
                9 94 3      47.502166  28.868257  1805.006012     136.0

                            min_upc  max_upc    avg_upc
instance        i p  alpha
rl1889_1260_629 0 94 3          0.0     34.0  13.404255
                1 94 3          0.0     33.0  13.404255
                2 94 2          1.0     30.0  13.404255
                     3          0.0     32.0  13.404255
                4 31 3         13.0     82.0  40.645161
                  62 3          1.0     41.0  20.322581
                5 62 2          3.0     41.0  20.322581
                     3          1.0     50.0  20.322581
                7 31 3         11.0     70.0  40.645161
                8 62 2          0.0     48.0  20.322581
                  94 3          0.0     29.0  13.404255
                9 94 3          0.0     36.0  13.404255

In [5]:
instance_groupby = final.iloc[:, [0, 6, 10, 11]].groupby("instance", sort=False)

gb_diff = instance_groupby["diff"]
min_diff = gb_diff.min()
max_diff = gb_diff.max()
avg_diff = gb_diff.mean()
count_diff = gb_diff.apply(lambda d: (d > 0).sum())

avg_time = instance_groupby["time"].mean()
count_li = instance_groupby["last_imp"].apply(lambda d: (d > 0).sum())

In [6]:
summary = pd.concat(
    {
        "min_diff": min_diff,
        "max_diff": max_diff,
        "avg_diff": avg_diff,
        "count_diff": count_diff,
        "avg_time": avg_time,
        "count_li": count_li,
    },
    axis=1
)
summary

,min_diff,max_diff,avg_diff,count_diff,avg_time,count_li
instance,,,,,,
pr439_293_146,0.000000,36.023529,13.577645,57,31.354904,34
rat575_384_191,6.428571,21.359223,14.632445,60,51.854514,59
rat783_522_261,4.790419,21.951220,13.692290,60,96.675725,59
dsj1000_667_333,19.051951,34.481528,26.463764,60,240.528606,59
rl1323_882_441,0.000000,37.457470,13.859355,53,255.947836,21
rl1889_1260_629,13.150609,28.485456,20.364721,60,1337.716445,60

In [ ]:
do_save = False

In [7]:
import os

from utils import format_latex_table
from grasp_final import FINAL_PATH

if do_save:
    format_latex_table(summary, os.path.join(FINAL_PATH, "final_summary.tex"))

c:\Users\netoo\local-personal\repos\alpha-neighbor-p-center-problem\anpcp\utils.py:103: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  dataframe.to_latex(path, float_format="%.2f", multirow=True)