$\beta = -1$ means that $\beta$ is selected at random in each iteration.

In [29]:
from grasp_betas import read_results

save = True
names = [
    "eil101_68_33", # 0
]
name = names[0]

betas = read_results(name)

In [30]:
betas

,i,p,alpha,0.0,0.2,0.4,0.6,0.8,1.0,-1,d_0.0,d_0.2,d_0.4,d_0.6,d_0.8,d_1.0,d_-1
0,0,3,2,46,46,46,46,46,46,46,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
1,0,6,2,31,31,31,31,31,31,31,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
2,1,3,2,49,49,49,49,49,49,49,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
3,1,6,2,32,32,31,31,31,31,32,3.225806,3.225806,0.0,0.0,0.0,0.0,3.225806
4,2,3,2,50,50,50,50,50,50,50,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
5,2,6,2,34,34,34,34,34,34,34,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
6,3,3,2,48,48,48,48,48,48,48,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
7,3,6,2,33,31,31,31,31,31,31,6.451613,0.000000,0.0,0.0,0.0,0.0,0.000000
8,4,3,2,44,44,44,44,44,44,44,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
9,4,6,2,30,30,30,30,30,30,30,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000

In [31]:
import pandas as pd

def analyze(dataframe: pd.DataFrame):
    diffs = dataframe.iloc[:, 10:]
    avgs = diffs.mean()
    bests = (diffs == 0).sum()

    data = {
        "average": avgs,
        "#bests": bests
    }

    return pd.DataFrame(data.values(), index=data.keys())

In [32]:
from IPython.display import display

for p in betas["p"].unique():
    for alpha in betas["alpha"].unique():
        fixed = betas[(betas["p"] == p) & (betas["alpha"] == alpha)]
        display(fixed)
        analysis = analyze(betas)
        display(analysis)

,i,p,alpha,0.0,0.2,0.4,0.6,0.8,1.0,-1,d_0.0,d_0.2,d_0.4,d_0.6,d_0.8,d_1.0,d_-1
0,0,3,2,46,46,46,46,46,46,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,3,2,49,49,49,49,49,49,49,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,3,2,50,50,50,50,50,50,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,3,3,2,48,48,48,48,48,48,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,4,3,2,44,44,44,44,44,44,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0

            d_0.0     d_0.2  d_0.4  d_0.6  d_0.8  d_1.0      d_-1
average  0.967742  0.322581    0.0    0.0    0.0    0.0  0.322581
#bests   8.000000  9.000000   10.0   10.0   10.0   10.0  9.000000

,i,p,alpha,0.0,0.2,0.4,0.6,0.8,1.0,-1,d_0.0,d_0.2,d_0.4,d_0.6,d_0.8,d_1.0,d_-1
1,0,6,2,31,31,31,31,31,31,31,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
3,1,6,2,32,32,31,31,31,31,32,3.225806,3.225806,0.0,0.0,0.0,0.0,3.225806
5,2,6,2,34,34,34,34,34,34,34,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
7,3,6,2,33,31,31,31,31,31,31,6.451613,0.000000,0.0,0.0,0.0,0.0,0.000000
9,4,6,2,30,30,30,30,30,30,30,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000

            d_0.0     d_0.2  d_0.4  d_0.6  d_0.8  d_1.0      d_-1
average  0.967742  0.322581    0.0    0.0    0.0    0.0  0.322581
#bests   8.000000  9.000000   10.0   10.0   10.0   10.0  9.000000

In [33]:
org = pd.concat(
    {
        "params": betas.iloc[:, 0:3],
        "beta": betas.iloc[:, 3:10],
        "diff": betas.iloc[:, 10:],
    },
    axis=1
)
highlighted = org.style.highlight_max(org.columns[3:9], axis=1, props="font-weight:bold;")
highlighted

In [34]:
highlighted.to_latex(convert_css=True)

'\\begin{tabular}{llrrrrrrrrrrrrrrrr}\n & \\multicolumn{3}{r}{params} & \\multicolumn{7}{r}{beta} & \\multicolumn{7}{r}{diff} \\\\\n & i & p & alpha & 0.0 & 0.2 & 0.4 & 0.6 & 0.8 & 1.0 & -1 & d_0.0 & d_0.2 & d_0.4 & d_0.6 & d_0.8 & d_1.0 & d_-1 \\\\\n0 & 0 & 3 & 2 & \\bfseries 46 & \\bfseries 46 & \\bfseries 46 & \\bfseries 46 & \\bfseries 46 & \\bfseries 46 & 46 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n1 & 0 & 6 & 2 & \\bfseries 31 & \\bfseries 31 & \\bfseries 31 & \\bfseries 31 & \\bfseries 31 & \\bfseries 31 & 31 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n2 & 1 & 3 & 2 & \\bfseries 49 & \\bfseries 49 & \\bfseries 49 & \\bfseries 49 & \\bfseries 49 & \\bfseries 49 & 49 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n3 & 1 & 6 & 2 & \\bfseries 32 & \\bfseries 32 & 31 & 31 & 31 & 31 & 32 & 3.225806 & 3.225806 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 3.225806 \\\\\n4 & 2 & 3 & 2 & \\bfseries 50 & \\bfseries 50 & \\bfseries 50 & \\bfseries 50 & \\bfseries 50 & \\bfseries 50 & 50 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n5 & 2 & 6 & 2 & \\bfseries 34 & \\bfseries 34 & \\bfseries 34 & \\bfseries 34 & \\bfseries 34 & \\bfseries 34 & 34 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n6 & 3 & 3 & 2 & \\bfseries 48 & \\bfseries 48 & \\bfseries 48 & \\bfseries 48 & \\bfseries 48 & \\bfseries 48 & 48 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n7 & 3 & 6 & 2 & \\bfseries 33 & 31 & 31 & 31 & 31 & 31 & 31 & 6.451613 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n8 & 4 & 3 & 2 & \\bfseries 44 & \\bfseries 44 & \\bfseries 44 & \\bfseries 44 & \\bfseries 44 & \\bfseries 44 & 44 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n9 & 4 & 6 & 2 & \\bfseries 30 & \\bfseries 30 & \\bfseries 30 & \\bfseries 30 & \\bfseries 30 & \\bfseries 30 & 30 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\\\\n\\end{tabular}\n'