$\beta = -1$ means that $\beta$ is selected at random in each iteration.

In [1]:
from grasp_betas import read_results

save = True
names = [
    "eil101_68_33", # 0
    "rd400_267_133",
    "rat783_522_261", # 2
]
name = names[1]

betas = read_results(name)

In [2]:
betas

,i,p,alpha,0.0,0.2,0.4,0.6,0.8,1.0,-1,d_0.0,d_0.2,d_0.4,d_0.6,d_0.8,d_1.0,d_-1
0,0,6,2,484,484,476,476,476,476,484,1.680672,1.680672,0.000000,0.000000,0.000000,0.000000,1.680672
1,0,6,3,560,560,560,560,560,560,560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0,13,2,275,275,275,275,275,275,275,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0,13,3,334,334,334,339,337,334,334,0.000000,0.000000,0.000000,1.497006,0.898204,0.000000,0.000000
4,0,26,2,192,192,194,192,194,192,192,0.000000,0.000000,1.041667,0.000000,1.041667,0.000000,0.000000
5,0,26,3,238,235,238,235,236,236,238,1.276596,0.000000,1.276596,0.000000,0.425532,0.425532,1.276596
6,1,6,2,487,487,487,487,487,487,487,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,1,6,3,553,553,553,553,553,553,553,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,1,13,2,287,285,285,287,285,285,285,0.701754,0.000000,0.000000,0.701754,0.000000,0.000000,0.000000
9,1,13,3,345,355,345,353,345,355,345,0.000000,2.898551,0.000000,2.318841,0.000000,2.898551,0.000000
10,1,26,2,199,199,198,197,198,200,199,1.015228,1.015228,0.507614,0.000000,0.507614,1.522843,1.015228
11,1,26,3,246,245,244,246,246,240,246,2.500000,2.083333,1.666667,2.500000,2.500000,0.000000,2.500000
12,2,6,2,483,483,483,483,483,483,483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,2,6,3,561,558,558,591,558,561,558,0.537634,0.000000,0.000000,5.913978,0.000000,0.537634,0.000000
14,2,13,2,284,291,291,284,279,284,291,1.792115,4.301075,4.301075,1.792115,0.000000,1.792115,4.301075
15,2,13,3,345,343,345,343,345,345,345,0.583090,0.000000,0.583090,0.000000,0.583090,0.583090,0.583090
16,2,26,2,197,195,192,193,194,197,194,2.604167,1.562500,0.000000,0.520833,1.041667,2.604167,1.041667
17,2,26,3,242,243,243,241,241,241,243,0.414938,0.829876,0.829876,0.000000,0.000000,0.000000,0.829876
18,3,6,2,472,465,465,465,465,465,465,1.505376,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,3,6,3,559,559,559,559,559,559,559,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,3,13,2,288,288,288,286,285,288,288,1.052632,1.052632,1.052632,0.350877,0.000000,1.052632,1.052632
21,3,13,3,345,345,345,345,345,345,345,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,3,26,2,194,195,192,192,192,192,197,1.041667,1.562500,0.000000,0.000000,0.000000,0.000000,2.604167
23,3,26,3,240,238,239,234,238,238,239,2.564103,1.709402,2.136752,0.000000,1.709402,1.709402,2.136752
24,4,6,2,484,484,484,484,484,484,484,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,4,6,3,560,560,560,560,560,560,560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,4,13,2,286,285,277,277,286,285,277,3.249097,2.888087,0.000000,0.000000,3.249097,2.888087,0.000000
27,4,13,3,347,348,347,347,347,347,347,0.000000,0.288184,0.000000,0.000000,0.000000,0.000000,0.000000
28,4,26,2,196,195,195,195,195,198,195,0.512821,0.000000,0.000000,0.000000,0.000000,1.538462,0.000000
29,4,26,3,247,247,247,248,242,244,247,2.066116,2.066116,2.066116,2.479339,0.000000,0.826446,2.066116
30,5,6,2,485,485,485,482,482,482,482,0.622407,0.622407,0.622407,0.000000,0.000000,0.000000,0.000000
31,5,6,3,555,555,555,555,555,555,555,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,5,13,2,277,274,277,277,274,274,274,1.094891,0.000000,1.094891,1.094891,0.000000,0.000000,0.000000
33,5,13,3,362,359,359,338,338,354,353,7.100592,6.213018,6.213018,0.000000,0.000000,4.733728,4.437870
34,5,26,2,192,192,192,191,188,188,192,2.127660,2.127660,2.127660,1.595745,0.000000,0.000000,2.127660
35,5,26,3,243,243,243,242,243,243,242,0.413223,0.413223,0.413223,0.000000,0.413223,0.413223,0.000000
36,6,6,2,485,485,485,485,485,485,485,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,6,6,3,560,560,560,560,560,560,560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,6,13,2,291,292,289,289,289,289,291,0.692042,1.038062,0.000000,0.000000,0.000000,0.000000,0.692042
39,6,13,3,339,339,339,339,339,339,339,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,6,26,2,198,200,200,201,198,205,200,0.000000,1.010101,1.010101,1.515152,0.000000,3.535354,1.010101
41,6,26,3,245,242,242,242,243,242,242,1.239669,0.000000,0.000000,0.000000,0.413223,0.000000,0.000000
42,7,6,2,493,493,492,493,493,493,492,0.203252,0.203252,0.000000,0.203252,0.203252,0.203252,0.000000
43,7,6,3,573,573,573,573,573,573,573,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,7,13,2,285,276,284,276,284,276,285,3.260870,0.000000,2.898551,0.000000,2.898551,0.000000,3.260870
45,7,13,3,346,346,346,346,345,345,346,0.289855,0.289855,0.289855,0.289855,0.000000,0.000000,0.289855
46,7,26,2,197,194,193,193,193,192,193,2.604167,1.041667,0.520833,0.520833,0.520833,0.000000,0.520833
47,7,26,3,259,254,251,251,253,255,251,3.187251,1.195219,0.000000,0.000000,0.796813,1.593625,0.000000
48,8,6,2,506,506,506,506,506,506,506,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
49,8,6,3,560,560,560,560,560,560,560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50,8,13,2,290,288,286,288,288,290,286,1.398601,0.699301,0.000000,0.699301,0.699301,1.398601,0.000000
51,8,13,3,356,356,356,355,354,356,356,0.564972,0.564972,0.564972,0.282486,0.000000,0.564972,0.564972
52,8,26,2,197,198,199,196,198,196,198,0.510204,1.020408,1.530612,0.000000,1.020408,0.000000,1.020408
53,8,26,3,246,244,246,241,246,246,243,2.074689,1.244813,2.074689,0.000000,2.074689,2.074689,0.829876
54,9,6,2,493,487,488,488,488,487,488,1.232033,0.000000,0.205339,0.205339,0.205339,0.000000,0.205339
55,9,6,3,612,603,578,578,578,578,578,5.882353,4.325260,0.000000,0.000000,0.000000,0.000000,0.000000
56,9,13,2,287,289,287,289,293,289,287,0.000000,0.696864,0.000000,0.696864,2.090592,0.696864,0.000000
57,9,13,3,336,336,340,336,336,339,340,0.000000,0.000000,1.190476,0.000000,0.000000,0.892857,1.190476
58,9,26,2,196,195,194,194,192,194,195,2.083333,1.562500,1.041667,1.041667,0.000000,1.041667,1.562500
59,9,26,3,241,244,239,239,233,239,240,3.433476,4.721030,2.575107,2.575107,0.000000,2.575107,3.004292

In [3]:
import pandas as pd

def analyze(dataframe: pd.DataFrame):
    diffs = dataframe.iloc[:, 10:]
    avgs = diffs.mean()
    bests = (diffs == 0).sum()

    data = {
        "average": avgs,
        "#bests": bests
    }

    return pd.DataFrame(data.values(), index=data.keys())

In [22]:
from IPython.display import display

for p in betas["p"].unique():
    for alpha in betas["alpha"].unique():
        fixed = betas[(betas["p"] == p) & (betas["alpha"] == alpha)]
        concat = pd.concat(
            {
                "params": fixed.iloc[:, 0:3],
                "beta": fixed.iloc[:, 3:10],
                "diff": fixed.iloc[:, 10:],
            },
            axis=1
        )
        display(concat.style.highlight_min(concat.columns[3:10], axis=1, props="font-weight:bold;"))
        
        analysis = analyze(fixed)
        styled_analysis = (
            analysis.style
                .highlight_min(("average", analysis.columns), axis=1, props="font-weight:bold;")
                .highlight_max(("#bests", analysis.columns), axis=1, props="font-weight:bold;")
        )
        display(styled_analysis)

In [21]:
# highlighted.to_latex(convert_css=True)